$space-s: 10px;
$space-m: 20px;
$space-l: 30px;
$space-xl: 50px;

$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-large: 20px;
$font-size-larger: 24px;

$color-darker-gray: #404040;
$color-dark-gray: #888888;
$color-gray: #bbbbbb;
$color-light-gray: #D9D9D9;
$color-white-smoke: #f5f5f5;
$color-blue: #3699cb;
$color-yellow: #f3cd2c;
$color-green: #68be60;
$color-red: #ff5967;

$color-active: $color-yellow;

$icon-note: "\266a";
$icon-note-beamed: "\266b";
$icon-music: "\1f3b5";
$icon-search: "\1f50d";
$icon-flashlight: "\1f526";
$icon-mail: "\2709";
$icon-heart: "\2665";
$icon-heart-empty: "\2661";
$icon-star: "\2605";
$icon-star-empty: "\2606";
$icon-user: "\1f464";
$icon-users: "\1f465";
$icon-user-add: "\e700";
$icon-video: "\1f3ac";
$icon-picture: "\1f304";
$icon-camera: "\1f4f7";
$icon-layout: "\268f";
$icon-menu: "\2630";
$icon-check: "\2713";
$icon-cancel: "\2715";
$icon-cancel-circled: "\2716";
$icon-cancel-squared: "\274e";
$icon-plus: "\2b";
$icon-plus-circled: "\2795";
$icon-plus-squared: "\229e";
$icon-minus: "\2d";
$icon-minus-circled: "\2796";
$icon-minus-squared: "\229f";
$icon-help: "\2753";
$icon-help-circled: "\e704";
$icon-info: "\2139";
$icon-info-circled: "\e705";
$icon-back: "\1f519";
$icon-home: "\2302";
$icon-link: "\1f517";
$icon-attach: "\1f4ce";
$icon-lock: "\1f512";
$icon-lock-open: "\1f513";
$icon-eye: "\e70a";
$icon-tag: "\e70c";
$icon-bookmark: "\1f516";
$icon-bookmarks: "\1f4d1";
$icon-flag: "\2691";
$icon-thumbs-up: "\1f44d";
$icon-thumbs-down: "\1f44e";
$icon-download: "\1f4e5";
$icon-upload: "\1f4e4";
$icon-upload-cloud: "\e711";
$icon-reply: "\e712";
$icon-reply-all: "\e713";
$icon-forward: "\27a6";
$icon-quote: "\275e";
$icon-code: "\e714";
$icon-export: "\e715";
$icon-pencil: "\270e";
$icon-feather: "\2712";
$icon-print: "\e716";
$icon-retweet: "\e717";
$icon-keyboard: "\2328";
$icon-comment: "\e718";
$icon-chat: "\e720";
$icon-bell: "\1f514";
$icon-attention: "\26a0";
$icon-alert: "\1f4a5'";
$icon-vcard: "\e722";
$icon-address: "\e723";
$icon-location: "\e724";
$icon-map: "\e727";
$icon-direction: "\27a2";
$icon-compass: "\e728";
$icon-cup: "\2615";
$icon-trash: "\e729";
$icon-doc: "\e730";
$icon-docs: "\e736";
$icon-doc-landscape: "\e737";
$icon-doc-text: "\1f4c4";
$icon-doc-text-inv: "\e731";
$icon-newspaper: "\1f4f0";
$icon-book-open: "\1f4d6";
$icon-book: "\1f4d5";
$icon-folder: "\1f4c1";
$icon-archive: "\e738";
$icon-box: "\1f4e6";
$icon-rss: "\e73a";
$icon-phone: "\1f4dE";
$icon-cog: "\2699";
$icon-tools: "\2692";
$icon-share: "\e73c";
$icon-shareable: "\e73e";
$icon-basket: "\e73d";
$icon-bag: "\1f45c'";
$icon-calendar: "\1f4c5";
$icon-login: "\e740";
$icon-logout: "\e741";
$icon-mic: "\1f3a4";
$icon-mute: "\1f507";
$icon-sound: "\1f50a";
$icon-volume: "\e742";
$icon-clock: "\1f554";
$icon-hourglass: "\23f3";
$icon-lamp: "\1f4a1";
$icon-light-down: "\1f505";
$icon-light-up: "\1f506";
$icon-adjust: "\25d1";
$icon-block: "\1f6ab";
$icon-resize-full: "\e744";
$icon-resize-small: "\e746";
$icon-popup: "\e74c";
$icon-publish: "\e74d";
$icon-window: "\e74e";
$icon-arrow-combo: "\e74f";
$icon-down-circled: "\e758";
$icon-left-circled: "\e759";
$icon-right-circled: "\e75a";
$icon-up-circled: "\e75b";
$icon-down-open: "\e75c";
$icon-left-open: "\e75d";
$icon-right-open: "\e75e";
$icon-up-open: "\e75f";
$icon-down-open-mini: "\e760";
$icon-left-open-mini: "\e761";
$icon-right-open-mini: "\e762";
$icon-up-open-mini: "\e763";
$icon-down-open-big: "\e764";
$icon-left-open-big: "\e765";
$icon-right-open-big: "\e766";
$icon-up-open-big: "\e767";
$icon-down: "\2b07";
$icon-left: "\2b05";
$icon-right: "\27a1";
$icon-up: "\2b06";
$icon-down-dir: "\25be";
$icon-left-dir: "\25c2";
$icon-right-dir: "\25b8";
$icon-up-dir: "\25b4";
$icon-down-bold: "\e4b0";
$icon-left-bold: "\e4ad";
$icon-right-bold: "\e4ae";
$icon-up-bold: "\e4af";
$icon-down-thin: "\2193";
$icon-left-thin: "\2190";
$icon-right-thin: "\2192";
$icon-up-thin: "\2191";
$icon-ccw: "\27f2";
$icon-cw: "\27f3";
$icon-arrows-ccw: "\1f504";
$icon-level-down: "\21b3";
$icon-level-up: "\21b0";
$icon-shuffle: "\1f500";
$icon-loop: "\1f501";
$icon-switch: "\21c6";
$icon-play: "\25b6";
$icon-stop: "\25a0";
$icon-pause: "\2389";
$icon-record: "\26ab";
$icon-to-end: "\23ed";
$icon-to-start: "\23ee";
$icon-fast-forward: "\23e9";
$icon-fast-backward: "\23ea";
$icon-progress-0: "\e768";
$icon-progress-1: "\e769";
$icon-progress-2: "\e76a";
$icon-progress-3: "\e76b";
$icon-target: "\1f3af";
$icon-palette: "\1f3a8";
$icon-list: "\e005";
$icon-list-add: "\e003";
$icon-signal: "\1f4f6";
$icon-trophy: "\1f3c6";
$icon-battery: "\1f50b";
$icon-back-in-time: "\e771";
$icon-monitor: "\1f4bb";
$icon-mobile: "\1f4f1";
$icon-network: "\e776";
$icon-cd: "\1f4bf";
$icon-inbox: "\e777";
$icon-install: "\e778";
$icon-globe: "\1f30e";
$icon-cloud: "\2601";
$icon-cloud-thunder: "\26c8";
$icon-flash: "\26a1";
$icon-moon: "\263d";
$icon-flight: "\2708";
$icon-paper-plane: "\e79b";
$icon-leaf: "\1f342";
$icon-lifebuoy: "\e788";
$icon-mouse: "\e789";
$icon-briefcase: "\1f4bc";
$icon-suitcase: "\e78e";
$icon-dot: "\e78b";
$icon-dot-2: "\e78c";
$icon-dot-3: "\e78d";
$icon-brush: "\e79a";
$icon-magnet: "\e7a1";
$icon-infinity: "\221e";
$icon-erase: "\232b";
$icon-chart-pie: "\e751";
$icon-chart-line: "\1f4c8";
$icon-chart-bar: "\1f4ca";
$icon-chart-area: "\1f53e";
$icon-tape: "\2707";
$icon-graduation-cap: "\1f393";
$icon-language: "\e752";
$icon-ticket: "\1f3ab";
$icon-water: "\1f4a6";
$icon-droplet: "\1f4a7";
$icon-air: "\e753";
$icon-credit-card: "\1f4b3";
$icon-floppy: "\1f4be";
$icon-clipboard: "\1f4cb";
$icon-megaphone: "\1f4e3";
$icon-database: "\e754";
$icon-drive: "\e755";
$icon-bucket: "\e756";
$icon-thermometer: "\e757";
$icon-key: "\1f511";
$icon-flow-cascade: "\e790";
$icon-flow-branch: "\e791";
$icon-flow-tree: "\e792";
$icon-flow-line: "\e793";
$icon-flow-parallel: "\e794";
$icon-rocket: "\1f680";
$icon-gauge: "\e7a2";
$icon-traffic-cone: "\e7a3";
$icon-cc: "\e7a5";
$icon-cc-by: "\e7a6";
$icon-cc-nc: "\e7a7";
$icon-cc-nc-eu: "\e7a8";
$icon-cc-nc-jp: "\e7a9";
$icon-cc-sa: "\e7aa";
$icon-cc-nd: "\e7ab";
$icon-cc-pd: "\e7ac";
$icon-cc-zero: "\e7ad";
$icon-cc-share: "\e7ae";
$icon-cc-remix: "\e7af";
$icon-github: "\f300";
$icon-github-circled: "\f301";
$icon-flickr: "\f303";
$icon-flickr-circled: "\f304";
$icon-vimeo: "\f306";
$icon-vimeo-circled: "\f307";
$icon-twitter: "\f309";
$icon-twitter-circled: "\f30a";
$icon-facebook: "\f30c";
$icon-facebook-circled: "\f30d";
$icon-facebook-squared: "\f30e";
$icon-gplus: "\f30f";
$icon-gplus-circled: "\f310";
$icon-pinterest: "\f312";
$icon-pinterest-circled: "\f313";
$icon-tumblr: "\f315";
$icon-tumblr-circled: "\f316";
$icon-linkedin: "\f318";
$icon-linkedin-circled: "\f319";
$icon-dribbble: "\f31b";
$icon-dribbble-circled: "\f31c";
$icon-stumbleupon: "\f31e";
$icon-stumbleupon-circled: "\f31f";
$icon-lastfm: "\f321";
$icon-lastfm-circled: "\f322";
$icon-rdio: "\f324";
$icon-rdio-circled: "\f325";
$icon-spotify: "\f327";
$icon-spotify-circled: "\f328";
$icon-qq: "\f32a";
$icon-instagrem: "\f32d";
$icon-dropbox: "\f330";
$icon-evernote: "\f333";
$icon-flattr: "\f336";
$icon-skype: "\f339";
$icon-skype-circled: "\f33a";
$icon-renren: "\f33c";
$icon-sina-weibo: "\f33f";
$icon-paypal: "\f342";
$icon-picasa: "\f345";
$icon-soundcloud: "\f348";
$icon-mixi: "\f34b";
$icon-behance: "\f34e";
$icon-google-circles: "\f351";
$icon-vkontakte: "\f354";
$icon-smashing: "\f357";
$icon-sweden: "\f601";
$icon-db-shape: "\f600";
$icon-logo-db: "\f603";
